extends layout

block content
    .row(style="margin-top:40px;")
        .col-md-8
            p(style="text-align:center;")
                img(src=`${product.image}`, height=600)
        .col-md-4(style="margin-top:80px;")
            div(style="font-size:12px;color:#666;")  설치상품 | 즉시할인
            div(style="font-size:32px; margin-top:10px;") <strong>#{product.explanation1}</strong>  
            div(style="font-size:32px; margin-top:10px;") <strong>#{product.explanation2}</strong>
            div(style="font-size:12px; margin-bottom:5px;") RF10R9990M1
            .row(style="border-top:1px solid; margin-top:20px;")
            
            
            .row(style="margin-top:20px; background-color:#f2f2f2; margin-bottom:20px;")
                .col-sm-12(style="margin-top:20px; margin-right:10px;")
                    span <strong>판매가</strong>
                    span(style="padding-left:82px") 3,240,000 원
                    br
                    br
                    span <strong>포인트</strong>
                    span(style="padding-left:82px") 286,280 포인트 적립 예정
                    br
                    br
                .col-sm-8(style="margin-top:20px; margin-right:10px;")
                    div #{product.price}
                    br
                    div #{product.point} 포인트 적립 예정
                    br
                    span <strong>TIP</strong>
                    span(style="padding-left:105px") 배송 3주 이상 소요
                    br
                    br
                    a.btn.btn-outline-primary.btn-block(href=`/pay/${product.id}`, value='/ming', role='button' style='float:right') 결제하기

